<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" 
    href="{% static 'css/main.css' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
    {% block content %}
    {% endblock %}
    <script type="text/javascript" 
    src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" 
    src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>

</html>